.space {
    /*border: solid;*/
    height: 114px;
}
#container-form {
    /*border: solid;*/
    height: 530px;
}
#titol-form {
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
#form {
    border: solid;
    padding: 53px;
    padding-top: 10px;
}
#submit {
    background-color: #33DF0C;
    border: none;
    color: black;
    font-weight: 800;
}
#submit:hover {
    background-color: #1C7807;
    color: white;
}