.space {
    border: solid;
    height: 114px;
}
#titol {
    font-size: 4rem;
}
#container-form {
    border: solid;
    height: 530px;
    width: 55%;
    margin: 0 auto;
    display: none;

}
#titol-form {
    margin-top: 10px;
    margin-bottom: 16px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
#form {
    border: solid;
    padding: 53px;
    padding-top: 40px;
    height: 100%;
}
#submit {
    background-color: #33DF0C;
    border: none;
    color: black;
    font-weight: 800;
    width: 50%;
    margin: 0 auto;
}

#submit:hover {
    background-color: #1C7807;
    color: white;
}

#tablero table {
    margin: 0 auto;
    width: 450px;
}

#tablero{
    border: solid;
    margin-bottom: 12px;
}

td {
    border: solid;
    width: 55px;
    height: 55px;
    background-color: rgb(33, 236, 33);
    text-align: center;
}
.blanc, .negre {
    width: 50px;
    height: 50px;
}

#info {
    border: solid;
    height: 45px;
}
#marcador-blanc {
    border: solid;
}
#marcador-negre {
    border: solid;
}







